worker_processes  1;
server {
    listen ${PORT};
    server_name _;

    root /usr/share/nginx/html;
    index index.html;


    location / {
        try_files $uri $uri/ /index.html;
    }

    location .js {
        add_header Content-Type "application/javascript";
    }

    location.mjs {
        add_header Content-Type "application/javascript";
    }
}
